@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #eaeaea;
}
body {
    margin: 0;
    background-color: #000000;
}
canvas {
    display: block;
}